@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;800&display=swap");

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(217, 217, 217);
}

code {
  font-family: 'Quicksand';
}

.rv-tooltip {
  position: absolute;
  pointer-events: none;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 4px;
  font-size: 12px;
  display: none;
}